.display-panel {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#input-panel input,
#input-panel select {
	border: none;
	min-width: 150px;
	height: 24px;
	line-height: 24px;
	font-size: 0.85em;
	padding-left: 8px;
	box-sizing: border-box;
}

.display-panel>.adaptive-size-holder {
	max-width: 160vh;
}

.display-panel>.map-holder {
	flex: 1;
	overflow: hidden;
}

.display-panel>.info-holder {
	display: flex;
	flex-direction: column;
	min-width: 200px;
	width: 20vw;
}

.display-panel .info-holder-pre {
	flex: 4;
}

.display-panel .info-holder-post {
	flex: 1;
}

.display-panel .info-holder-content {
	padding-right: 24px;
	position: relative;
	left: -10vh;
	width: calc(100% + 10vh);
	box-sizing: border-box;
}

.display-panel .info-holder-content .title {
	text-align: center;
	font-size: 1.2em;
}

.display-panel .info-holder-content .delay {
	margin-top: 24px;
}

.display-panel .info-holder-content .delay .gradient-map {
	border: 1px solid black;
	height: 30px;
}

.display-panel .info-holder-content .delay .label-map {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#input-panel {
	margin-top: 32px;
}

#input-panel .input-field {
	margin-bottom: 12px;
}

#input-panel .input-field.inline {
	display: flex;
}

#input-panel .input-field.radio input {
	display: none;
}

#input-panel .input-field.radio {
	display: flex;
}

#input-panel .input-field .radio-container {
	display: flex;
}

#input-panel .input-field.radio input+label {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0 12px;
	background: white;
	cursor: pointer;
	transition: all .3s;
	text-align: center;
	min-width: 74px;
	box-sizing: border-box;
	font-size: 0.85em;
}

#input-panel .input-field.radio input+label:hover {
	background: #eee;
}

#input-panel .input-field.radio input:first-of-type+label {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	border-right: 2px solid #aaa;
}

#input-panel .input-field.radio input:last-of-type+label {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

#input-panel .input-field.radio input:checked+label {
	background: #aaa;
}

#input-panel .input-field.inline .label {
	height: 24px;
	line-height: 24px;
}

#input-panel .label {
	min-width: 100px;
	display: inline-block;
	text-align: right;
	margin-right: 12px;
}

#input-panel {
	min-height: 250px;
}
