@import "./layout.css";
@import "./display-panel.css";
@import "./display-airports.css";
@import "./display-flight.css";

body {
	margin: 0;
	height: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
